<h1>SNAFOO</h1>

<% if session[:preferred_snacks] && session[:preferred_snacks].length >= 3 %>
  <h2>You have no votes left! Try again next month!</h2>
<% elsif session[:preferred_snacks] %>
  <h2>Votes remaining: <%= 3 - session[:preferred_snacks].length %></h2>
<% else %>
  <h2>Votes remaining: 3</h2>
<% end %>

<table>
  <tr>
    <th>Old Standbys</th>
  </tr>
  <% @classic_snacks.each do |snack| %>
  <tr>
    <td><%= snack["name"] %></td>
  </tr>
  <% end %>
</table>

<br>

<% if cookies[:vote_error] %>
  <h3><%= cookies[:vote_error] %></h2>
<% end %>

<table>
  <tr>
    <th>Suggestion</th>
    <th>Last Purchased</th>
    <th>Vote Count</th>
    <th></th>
  </tr>
  <% @suggested_snacks.each do |snack| %>
  <tr>
    <td><%= snack["name"] %></td>
    <% if snack["lastPurchaseDate"] %>
      <td><%= snack["lastPurchaseDate"] %></td>
    <% else %>
      <td>Never purchased</td>
    <% end %>
    <td><%= @votes.where(snack_id: snack["id"]).count %></td>
    <td><%= button_to "Vote for this snack", { controller: "votes", action: "create", snack_id: snack["id"] } %></td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to "Want to suggest a snack?", new_path %>
